.quantitySelectorTitle,
.quantitySelectorTitle--quantity_pdp{
    text-align: center;
    text-transform: uppercase;
    color:#6c757d ;
    width: 240px;
}
.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button){
    background: #CAA289;
    border-color: #CAA289;
    height: 2rem;

}
.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button__text),
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button__text){
color: white;
}
.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
    border-color: #CAA289;
    width: 10rem;
    height: 2rem; 
}
