.flexRowContent--button_pdp :global(.vtex-button),
.flexColChild--button_pdp :global(.vtex-button){
    background-color: #9FD668;
    border: #9FD668;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

.flexColChild--quantity_pdp{
    padding: 20px;
    width: 5rem;
}
.flexCol--quantity_pdp{
    padding-top: -1rem;
}
.flexColChild--product__info :global(.vtex-reviews-and-ratings-3-x-star){
    color: yellow;
}
