.imageElement--space{
    margin-top: 1rem;
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
    
}
.logoImage--logo_desktop,.imageElement--imagesection4{
    margin-left: 35rem;
}
.logoLink--logo, .container{
    background-color: white;
}
.searchBarContainer{
    width: 20rem;
    margin-right: 4rem;

}

.container--menu__departamento{
    align-items: center;
}
.imageElement--footer__ccs{
    width: 100px;
    height: 100px;
}