.paragraph--text1section3,.paragraph--text1section4{
    font-family: 'Eczar', serif;
    font-size: 2.25rem;
    color: #954613;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}
.paragraph--text2section3, .paragraph--text2section4{
    font-weight: bold;
    color: #a09289;
    font-size: 1rem;
}
.paragraph--text1section4{
    margin: 0;
}
.paragraph--text2section4{
    width: auto;
}
.wrapper--text2section3{
    margin-bottom: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}
.paragraph--text1,.paragraph--text2{
    font-weight: bold;
    color: #a09289;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1rem;
  
}
.paragraph--footer__products, 
.paragraph--footer__shop, 
.paragraph--footer__contact,
.paragraph--footer__bottom{
    font-size: 20px;
    color:white
}
.container--footer__bottom{
    background-color: #954613;
    
}
.wrapper--footer__bottom{
    border-top: 1px solid white;
    margin-top: 10px;
}
.container--footer__shop, 
.container--footer__products, 
.container--footer__contact{
    padding-left: 1rem;
}
.wrapper--about-us {
    display: block;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: justify;
}
.wrapper--drawer{
    color: #9b5b34;
    font-family: inherit;
    font-size:medium;
    cursor: pointer;
    margin: 0;
}
.paragraph--quick-view__trigger{
    color: #954613;
    border-bottom: 1px solid #954613;
}
.heading--text1-header__mobile{
    text-shadow: 0.075em 0.08em 0.1em rgba(0,0,0,.75);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-right: 15px;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 0;
    color: #fff;
}
.paragraph--text2-header__mobile{
    font-weight: bold;
    color: rgba(255,255,255,.85);
    box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 834px) and (max-width: 1194px){
    .paragraph--text2-header__mobile{
        margin-left: 16.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}