.imageElement--home__image{
    margin-right: 0;
}

.carouselThumbBorder{
    width: 50px;
    height: 50px;
   
}
.carouselGaleryThumbs{
    margin-left: 5rem;
}
.container{
    background-color: transparent;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .imageElement--home__image{
        width: 200px !important;
        height: 200px !important;
    }
  }
  @media (min-width: 390px) and (max-width: 844px) {
    .imageElement--icon2,
    .imageElement--icon1{
        width: 40px !important;
        height: 40px !important;
    }
  }