.flexRowContent--networks{
    margin-left: 4rem;
}

.flexRowContent--center_items_mobile{
    align-items: center;
}
.flexRow--sectinformation{
    margin-left: 4rem;
    margin-right: 3rem;
    margin-top: 1rem;
}
.flexRowContent--footer--desktop{
    background-color: #954613;
}

.flexRowContent--socialnetworks-mobile{
    justify-content: center;
    display: flex;
}



