.flexRowContent--networks{
    margin-left: 4rem;
}

.flexRowContent--center_items_mobile{
    align-items: center;
}
.flexRow--sectinformation{
    margin-left: 4rem;
    margin-right: 3rem;
    margin-top: 1rem;
}
.flexRowContent--footer--desktop{
    background-color: #954613;
}

.flexRowContent--socialnetworks-mobile{
    justify-content: center;
    display: flex;
}
.flexRowContent--modal_quick-view{
    width: 800px;
    height: 450px;
    padding: 1rem;
}
.flexRowContent--menu__departament{
    background-color: white;
}
.flexColChild--category1{
    width: 40%;
}
.flexColChild--category2{
    width: 40%;
}
.flexCol--col_shop,
.flexCol--col_products {
    height: 4rem;
}
.flexRowContent--footer--desktop_top{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 4rem;
}
.flexRowContent--header__logo{
    background-color: white;
}
.flexColChild--button_pdp :global(.vtex-button){
    background-color: #9FD668;
    border: #9FD668;
    margin: 22px;
    margin-top: 32px;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }

.flexColChild--quantity_pdp{
    margin-right: 5rem;
    padding: 20px;
    width: 5rem;
}
.flexCol--quantity_pdp{
    margin-right: 10rem;
    padding-top: -1rem;
}
.flexColChild--product__info :global(.vtex-reviews-and-ratings-3-x-star){
    color: yellow;
}
.flexRowContent--home__mobile-infomation1 :global(.vtex-rich-text-0-x-paragraph){
    font-size: small;
}
.flexRowContent--home__mobile-section3 :global(.vtex-rich-text-0-x-paragraph){
    text-align: center;
}
