.paragraph--text1section3,.paragraph--text1section4{
    font-family: 'Eczar', serif;
    font-size: 2.25rem;
    color: #954613;
    text-transform: uppercase;
}
.paragraph--text2section3, .paragraph--text2section4{
    font-weight: bold;
    color: #a09289;


}
.wrapper--text2section3,.wrapper--text2section4{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.paragraph--text1,.paragraph--text2{
    font-weight: bold;
    color: #a09289;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1rem;
  
}
.paragraph--footer__products, 
.paragraph--footer__shop, 
.paragraph--footer__contact,
.paragraph--footer__bottom{
    font-size: 20px;
    color:white
}
.container--footer__bottom{
    background-color: #954613;
    
}
.wrapper--footer__bottom{
    border-top: 1px solid white;
    margin-top: 10px;
}
.container--footer__shop, 
.container--footer__products, 
.container--footer__contact{
    padding-left: 1rem;
}
.wrapper--about-us {
    display: block;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: justify;
}
.paragraph--name_category{
    margin-left: 2rem;
}
.paragraph--name_category1{
    margin-right: 5rem;
}