.bullet__item--image{
height: 60px ;
width: 60px;
margin-bottom: 5px;
}
.sliderLayoutContainer--home__slider {
    max-width: 1200px;
    margin: 0 auto 50px;
} 
 
.paginationDotsContainer--slider__home-bullet-group,
.paginationDotsContainer--slider__home-desktop,
.home__slider{
    transform: translateY(1.5rem);
 }
