.flexRowContent--footer--desktop{
    background-color: #954613;
}

.flexRowContent--socialnetworks-mobile{
    justify-content: center;
    display: flex;
}
.flexRowContent--footer--desktop_top{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 4rem;
}
.flexCol--col_shop,
.flexCol--col_products {
    height: 4rem;
}
.flexColChild--newsletter :global(.vtex-button){
    background-color: #b99b8d5e;
    border-color: #b99b8d5e;
    border-radius: 0;
}