.imageNormal{
    width: 10rem;
    height: 11rem;
}
.nameContainer{
    margin: 1rem;
    width: 11rem;
    height:4rem;
}
.element{
    margin-left: 3rem;
    border: 2px solid #f8f9fa;
    background-color: #f8f9fa;

}