.styledLinkContainer{
    margin: 0 ;
    margin-left: 0.5rem;
    padding: 0;
}


.styledLinkContent{
    color: #954613;
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
    font-size: 0.85rem;
    
    
}
.styledLinkContent:hover{
    color: #57280A;
}

.styledLinkContent--flecha::after{
    display: inline-block;
    margin-left: .6rem;
    margin-top: .3rem;
    vertical-align: .255rem;
    content: "";
    border-top: .3rem solid;
    border-right: .3rem solid transparent;
    border-bottom: 0;
    border-left: .3rem solid transparent;
    color: #954613;
}

.styledLinkContent--department__four, .styledLinkContent--department__five{
    padding: 0 0.5rem;
    white-space: pre;
}
.menuContainerNav--menu{
    margin-left: 4rem;
    margin-right: 4rem;

}
.styledLinkContent--footer__menu{
    margin-bottom: 0.4rem;
    margin-left: 0;
    color: #e4d0c3;
}
.submenuWrapper--isOpen{
   height: 15rem;
   margin-left: 5rem;
   margin-top: 2.5rem;
}
.menuItem--menu_category{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}
.menuItem--menu_category1{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}
.menuItem--footer__menu--isClosed{
    padding-left: 0;
}

.styledLinkContainer--footer__menu :hover{
    background-color: rgba(255, 255, 255, 0.158);
    color: #e4d0c3;
} 
.menuContainer--footer__contact{
        align-items: center;
    }
@media (min-width: 390px) and (max-width: 1194px){
    .styledLinkContent--menu_mobile,
    .styledLinkContent--flecha,
    .styledLinkContent--department__four,
    .styledLinkContent--department__five{
        margin: 1rem;
        border-bottom: 0.012rem solid #80808088;
        text-align: center;

    }

   
}